
{%include "defaults/head.html"%}

<body>

  {%include "defaults/header.html"%}
  
    <br>
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="static/Imágenes/contenido/CAROUSEL1.jpg" class="d-block w-100" alt="Pies de pequeñas bailarinas">
        </div>
        <div class="carousel-item">
          <img src="static/Imágenes/contenido/CAROUSEL2.jpg" class="d-block w-100" alt="Niña en clase - Salto de contemporáneo">
        </div>
        <div class="carousel-item">
          <img src="static/Imágenes/contenido/CAROUSEL3.jpg" class="d-block w-100" alt="Puntas - Ronda de niñas">
        </div>
        <div class="carousel-item">
          <img src="static/Imágenes/contenido/CAROUSEL4.jpg" class="d-block w-100" alt="En función - Pose ensayo de contemporáneo">
        </div>
        <div class="carousel-item">
          <img src="static/Imágenes/contenido/CAROUSEL5.jpg" class="d-block w-100" alt="Brazos en Barra - Pose contemporáneo">
        </div>
      </div>
    </div>
    <br>

    <div class="dataEscuela">
      <h1>ESCUELA DE BALLET</h1> <br>
      <p>La danza o el baile es un arte donde se utiliza el movimiento del cuerpo, normalmente con música, como una 
        forma de expresión y de interacción social con fines de entretenimiento y artísticos. Es una forma de danza 
        cuyos movimientos están basados en el control total
        y absoluto del cuerpo. Participan invariablemente todo el cuerpo en una conjunción simultánea de dinámica 
        muscular y mental que debe expresarse en total armonía de movimientos.</p>  
        <p></p>
          <p>Uno de los muchos beneficios del ballet es que ayuda a mejorar la postura corporal, flexibilidad y equilibrio.
             Por otro lado, ballet no solo requiere fuerza física, si no que su práctica también requiere estar concentrado
              en los movimientos, por lo que otro de los beneficios del ballet es, precisamente, que dota de concentración, 
              serenidad y confianza. también Ayuda a desarrollar la memoria, la disciplina y por supuesto la creatividad</p>
      <br>
    </div>
    <div class="dataEscuela">
      <h2>SOBRE LAS CLASES</h2> <br>
      <p>El principal objetivo es formar bailarines clásicos con excelente desempeño técnico y artístico. Para los niños
         que no desean tomar la danza con fines profesionales, este estudio ayuda al desarrollo de un físico armonioso y
          fuerte, la comunicación con el cuerpo y el espacio, un importantísimo desarrollo motriz e intelectual y ayuda 
          a la formación del carácter a través de la disciplina, la búsqueda de la belleza en el movimiento, la expresión
           y la relación con las otras artes.</p><br>
    </div>

    <div>
      <h2>ADOLESCENTES</h2><h2> Y ADULTOS</h2>
      <h6>CLASES Y NIVELES</h6>
    <br>
    
      <div class="adol-adul">
        <div class="caja_foto"><a href="/nuestras_clases"><img class="img-thumbnail" src="static/Imágenes/contenido/PRINCIPIANTES_A.jpg" alt="BALLET PRINCIPIANTES"></a></div>
        <div class="caja_foto"><a href="/nuestras_clases#PREINTERMEDIO"><img class="img-thumbnail" src="static/Imágenes/contenido/BALLET_PREINTERMEDIO_A.jpg" alt="BALLET PREINTERMEDIO"></a></div>
        <div class="caja_foto"><a href="/nuestras_clases#INTERMEDIO"><img class="img-thumbnail" src="static/Imágenes/contenido/BALLET_INTERMEDIO_A.jpg" alt="BALLET INTERMEDIO"></a></div>
        <div class="caja_foto"><a href="/nuestras_clases#AVANZADOS"><img class="img-thumbnail" src="static/Imágenes/contenido/BALLET_AVANZADOS_A.jpg" alt="BALLET AVANZADOS"></a></div>
        <div class="caja_foto"><a href="/nuestras_clases#CONTEMPO"><img class="img-thumbnail" src="static/Imágenes/contenido/CONTEMPO_A.jpg" alt="DANZA CONTEMPORÁNEA"></a></div>
        <div class="caja_foto"><a href="/nuestras_clases#PARTICULARES"><img class="img-thumbnail" src="static/Imágenes/contenido/CLASES_PARTICULARES_A.jpg" alt="CLASES PARTICULARES"></a></div>
        <div class="caja_foto"><a href="/nuestras_clases#EXAMENES"><img class="img-thumbnail" src="static/Imágenes/contenido/PREPARACION_PARA_EXAMENES_A.jpg" alt="PREPARACIÓN A EXÁMENES"></a></div>
        <div class="caja_foto"><a href="/nuestras_clases#CURSOS"><img class="img-thumbnail" src="static/Imágenes/contenido/CURSOS_A.jpg" alt="CURSOS Y SEMINARIOS"></a></div>
      </div>
      <div class="dataEscuela">
        <p>Programa para adolescentes y adultos em los distintos niveles. Clases con pianista acompañante. Clases aptas para Profesores
          de danza. Enseñanza académica de la técnica de Ballet utilizando como base el método Vaganova (escuela rusa). En cuanto a las
          clases de danza Contemporánea, los contenidos son la técnica Graham y elementos de Release y otras escuelas contemporáneas. 
        </p>
      </div>
    </div>
    
    <div>
      <h2>NIÑOS</h2>
      <h6>CLASES Y NIVELES</h6>

      <div class="infantes">
        <div class="caja_foto"><a href="nuestras_clases#INFANTIL"><img class="img-thumbnail" src="static/Imágenes/contenido/INFANTIL_A.jpg" alt="BALLET INFANTIL"></a></div>
        <div class="caja_foto"><a href="nuestras_clases#INICIACION"><img class="img-thumbnail" src="static/Imágenes/contenido/INICIACION_AL_BALLET_A.jpg" alt="INICIACIÓN AL BALLET"></a></div>
      </div>
      <div class="dataEscuela">
        <p>Los programas para niños son: Ballet a partir de los 6 años e Iniciación al Ballet (de 4 y 5 años)en los cuales
          no se exigen esfuerzos musculares ni articulares y por medio del juego se les ayuda a desarrollar capacidades
           tales como la correcta colocación del cuerpo, coordinación y disociación de movimientos, manejo de la lateralidad,
            utilización del espacio, musicalidad y desarrollo rítmico y el conocimiento de las posturas.</p>
      </div>
    </div>
    <br>

    {%include "defaults/footer.html"%}

    {%include "defaults/scripts.html"%}

</body>
</html>