
{%include "defaults/head.html"%}

<body>
    
  {%include "defaults/header.html"%}
  
    <br>
    <div>
        <h2>INSCRIBITE EN NUESTRAS CLASES</h2>
    </div>
    <div class="box_form">
        <!--FORMULARIO INSCRIBITE EN NUESTRAS CLASES-->
    
        <div class="formulario" id="formInsc">

            <form action="mailto:escueladeballet@gmail.com" method="post">
                <div>
                    <h6>BAILÁ EN ESCUELA DE BALLET</h6>
                </div>

                <div>
                    <label>
                        *Nombre: <br>
                        <input type="text" name="nombre" required>
                    </label>
                </div>
    <br>
        <div>
            <label>
                *Apellido: <br>
                <input type="text" name="apellido" required>
            </label>
        </div>
    <br>
                <div>
                    <label>
                        *Teléfono: <br>
                        <input type="tel" name="telefono" required>
                    </label>
                </div>
    <br>
                <div>
                    <label>
                        *Email: <br>
                    <input type="email" name="email" required id="campoEmail">
                </label>
                </div>
    <br>    
                    <div class="select-container"> 
                    *Curso: <br>
                    <select onfocus="this.size=3;" onblur="this.size=0;" onchange="this.size=1; this.blur()" name="motivo" required>
                        <option value="">Seleccionar...</option>
                        <option value="uno">Ballet Principiantes</option>
                        <option value="dos">Ballet Preintermedio</option>
                        <option value="tres">Ballet Intermedio</option>
                        <option value="cuatro">Ballet Avanzados</option>
                        <option value="cinco">Ballet Infantil</option>
                        <option value="seis">Iniciación a la Danza</option>
                        <option value="siete">Danza Contemporánea</option>
                        <option value="ocho">Clases Particulares</option>
                        <option value="nueve">Preparación para exámenes</option>
                        <option value="diez">Cursos y seminarios</option>
                    </select>
                </div>
    <br>    
            <div>
                <input type="submit" value="Enviar">
            </div>
            
            <div class="letra_chica">*Son campos obligatorios</div>
            </form>
        </div>
        
    </div>
<br>

{%include "defaults/footer.html"%}

{%include "defaults/scripts.html"%}

</body>
</html>