
{%include "defaults/head.html"%}

<body>
    
  {%include "defaults/header.html"%}
  
    <br>
    <div>
        <h2>HORARIOS DE CLASE</h2>
    </div>
    <div>
        <div class="nuestras_clases">
            <div class="caja_foto"><img class="img-thumbnail" src="static/Imágenes/contenido/PRINCIPIANTES_B.jpg" alt="BALLET PRINCIPIANTES"></div>
            <div class="caja_datos">
                <div>
                    <ul class="listas">
                        <li>Días y Horarios</li>
                        <li>PRINCIPIANTES<br></li>
                        <li id="PREINTERMEDIO">Lunes a viernes</li>
                        <li>de 14 a 15.30</li>
                    </ul>
                </div>
            </div>
            <div class="caja_datos">
                <div>
                    <ul class="listas">
                        <li>PROFESORA<br></li>
                        <li>LEIA</li>
                        <li>ORDANA</li>
                        <li>DE ALDERAAN</li>
                    </ul>
                </div>
            </div>
            <div class="caja_datos">
                <div>
                    <ul class="listas">
                        <li><a class="btn" href="/inscripcion" role="button">Inscribirme en la clase</a></li>
                    </ul>
                </div>
            </div>
            <div class="caja_foto"><img class="img-thumbnail" src="static/Imágenes/contenido/BALLET_PREINTERMEDIOS_B.jpg" alt="BALLET PREINTERMEDIO"></div>
            <div class="caja_datos">
                <div>
                    <ul class="listas">
                        <li>Días y Horarios</li>
                        <li>PREINTERMEDIO<br></li>
                        <li id="INTERMEDIO">Lunes a viernes</li>
                        <li>de 11 a 12.30</li>
                    </ul>
                </div>
            </div>
            <div class="caja_datos">
                <div>
                    <ul class="listas">
                        <li>PROFESORA<br></li>
                        <li>ELEONORA</li>
                        <li>RUTH</li>
                        <li>SHELLSTROP</li>
                    </ul>
                </div>
            </div>
            <div class="caja_datos">
                <div>
                    <ul class="listas">
                        <li><a class="btn" href="/inscripcion" role="button">Inscribirme en la clase</a></li>
                    </ul>
                </div>
            </div>
            <div class="caja_foto"><img class="img-thumbnail" src="static/Imágenes/contenido/BALLET_INTERMEDIO_B.jpg" alt="BALLET INTERMEDIO"></div>
            <div class="caja_datos">
                <div>
                    <ul class="listas">
                        <li>Días y Horarios</li>
                        <li>INTERMEDIO<br></li>
                        <li id="AVANZADOS">Lunes a viernes</li>
                        <li>de 9 a 10.30</li>
                    </ul>
                </div>
            </div>
            <div class="caja_datos">
                <div>
                    <ul class="listas">
                        <li>PROFESORA<br></li>
                        <li>TATIANA</li>
                        <li>MORILLO</li>
                        <li>DÍAZ</li>
                    </ul>
                </div>
            </div>
            <div class="caja_datos">
                <div>
                    <ul class="listas">
                        <li><a class="btn" href="/inscripcion" role="button">Inscribirme en la clase</a></li>
                    </ul>
                </div>
            </div>
            <div class="caja_foto"><img class="img-thumbnail" src="static/Imágenes/contenido/BALLET_AVANZADOS_B.jpg" alt="BALLET AVANZADOS"></div>
            <div class="caja_datos">
                <div>
                    <ul class="listas">
                        <li>Días y Horarios</li>
                        <li>AVANZADOS<br></li>
                        <li id="CONTEMPO">Lunes a viernes</li>
                        <li>de 7 a 8.30</li>
                    </ul>
                </div>
            </div>
            <div class="caja_datos">
                <div>
                    <ul class="listas">
                        <li>PROFESORA<br></li>
                        <li>TATIANA</li>
                        <li>MORILLO</li>
                        <li>DÍAZ</li>
                    </ul>
                </div>
            </div>
            <div class="caja_datos">
                <div>
                    <ul class="listas">
                        <li><a class="btn" href="/inscripcion" role="button">Inscribirme en la clase</a></li>
                    </ul>
                </div>
            </div>
            <div class="caja_foto"><img class="img-thumbnail" src="static/Imágenes/contenido/CONTEMPO_B.jpg" alt="DANZA CONTEMPORÁNEA"></div>
            <div class="caja_datos">
                <div>
                    <ul class="listas">
                        <li>Días y Horarios</li>
                        <li>CONTEMPORÁNEA<br></li>
                        <li id="PARTICULARES">Lunes a viernes</li>
                        <li>de 9 a 10.30</li>
                    </ul>
                </div>
            </div>
            <div class="caja_datos">
                <div>
                    <ul class="listas">
                        <li>PROFESORA<br></li>
                        <li>AMILYN</li>
                        <li>HOLDO</li>
                        <li>LÓPEZ</li>
                    </ul>
                </div>
            </div>
            <div class="caja_datos">
                <div>
                    <ul class="listas">
                        <li><a class="btn" href="/inscripcion" role="button">Inscribirme en la clase</a></li>
                    </ul>
                </div>
            </div>
            <div class="caja_foto"><img class="img-thumbnail" src="static/Imágenes/contenido/CLASES_PARTICULARES_B.jpg" alt="CLASES PARTICULARES"></div>
            <div class="caja_datos">
                <div>
                    <ul class="listas">
                        <li>Días y Horarios</li>
                        <li>CLASES PARTICULARES<br></li>
                        <li id="EXAMENES">Lunes a viernes</li>
                        <li>a convenir con staff</li>
                    </ul>
                </div>
            </div>
            <div class="caja_datos">
                <div>
                    <ul class="listas">
                        <li>PROFESORA<br></li>
                        <li>A CONVENIR</li>
                        <li>SEGÚN</li>
                        <li>DISPONIBILIDAD</li>
                    </ul>
                </div>
            </div>
            <div class="caja_datos">
                <div>
                    <ul class="listas">
                        <li><a class="btn" href="/inscripcion" role="button">Inscribirme en la clase</a></li>
                    </ul>
                </div>
            </div>
            <div class="caja_foto"><img class="img-thumbnail" src="static/Imágenes/contenido/PREPARACION_PARA_EXAMENES_B.jpg" alt="PREPARACIÓN A EXÁMENES"></div>
            <div class="caja_datos">
                <div>
                    <ul class="listas">
                        <li>Días y Horarios</li>
                        <li>PREP. EXÁMENES<br></li>
                        <li>Lunes a viernes</li>
                        <li id="CURSOS">de 8 a 9.30</li>
                    </ul>
                </div>
            </div>
            <div class="caja_datos">
                <div>
                    <ul class="listas">
                        <li>PROFESORA<br></li>
                        <li>A CONVENIR</li>
                        <li>SEGÚN</li>
                        <li>DISPONIBILIDAD</li>
                    </ul>
                </div>
            </div>
            <div class="caja_datos">
                <div>
                    <ul class="listas">
                        <li><a class="btn" href="/inscripcion" role="button">Inscribirme en la clase</a></li>
                    </ul>
                </div>
            </div>
        </div><br>
        <hr class="linea_de_rosa"><br>
        <div class="nuestras_clases">
            <div class="caja_foto"><img class="img-thumbnail" src="static/Imágenes/contenido/CURSOS_B.jpg" alt="CURSOS Y SEMINARIOS"></div>
            <div class="caja_datos">
                <div>
                    <ul class="listas">
                        <li>Días y Horarios</li>
                        <li>PREP. CURSOS</li>
                        <li>Y SEMINARIOS<br></li>
                        <li>Lunes a viernes</li>
                        <li id="INFANTIL">a convenir con staff</li>
                    </ul>
                </div>
            </div>
            <div class="caja_datos">
                <div>
                    <ul class="listas">
                        <li>PROFESORA<br></li>
                        <li>A CONVENIR</li>
                        <li>SEGÚN</li>
                        <li>DISPONIBILIDAD</li>
                    </ul>
                </div>
            </div>
            <div class="caja_datos">
                <div>
                    <ul class="listas">
                        <li><a class="btn" href="/inscripcion" role="button">Inscribirme en la clase</a></li>
                    </ul>
                </div>
            </div>
        </div><br>
        <hr class="linea_de_rosa"><br>
        <div class="nuestras_clases">
            <div class="caja_foto"><img class="img-thumbnail" src="static/Imágenes/contenido/INFANTIL_B.jpg" alt="BALLET INFANTIL"></div>
            <div class="caja_datos">
                <div>
                    <ul class="listas">
                        <li>Días y Horarios</li>
                        <li>INFANTIL<br></li>
                        <li>Lunes a viernes</li>
                        <li>de 18.30 a 19.30</li>
                    </ul>
                </div>
            </div>
            <div class="caja_datos">
                <div>
                    <ul class="listas">
                        <li>PROFESORA<br></li>
                        <li>VALENTINA</li>
                        <li>ISABELA</li>
                        <li>MADRIGAL</li>
                    </ul>
                </div>
            </div>
            <div class="caja_datos">
                <div>
                    <ul class="listas">
                        <li><a class="btn" href="/inscripcion" role="button">Inscribirme en la clase</a></li>
                    </ul>
                </div>
            </div>
            <div class="caja_foto" id="INICIACION"><img class="img-thumbnail" src="static/Imágenes/contenido/INICIACION_AL_BALLET_B.jpg" alt="INICIACIÓN AL BALLET"></div>
            <div class="caja_datos">
                <div>
                    <ul class="listas">
                        <li>Días y Horarios</li>
                        <li>INICIACIÓN</li>
                        <li>AL BALLET<br></li>
                        <li>Lunes a viernes</li>
                        <li>de 17 a 18</li>
                    </ul>
                </div>
            </div>
            <div class="caja_datos">
                <div>
                    <ul class="listas">
                        <li>PROFESORA<br></li>
                        <li>LEIA</li>
                        <li>ORGANA</li>
                        <li>DE ALDERAAN</li>
                    </ul>
                </div>
            </div>
            <div class="caja_datos">
                <div>
                    <ul class="listas">
                        <li><a class="btn" href="/inscripcion" role="button">Inscribirme en la clase</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<br>

{%include "defaults/footer.html"%}

{%include "defaults/scripts.html"%}

</body>
</html>