
{%include "defaults/head.html"%}

<body>
    
  {%include "defaults/header.html"%}
  
    <br>
    <div class="seccionDirectora">
        <h2>TATIANA MORILLO DÍAZ</h2>
        <h2>Directora - Profesora</h2>
        <div class="directora">
            
                <img id="fotoDirec" src="static/Imágenes/contenido/directora.jpg" alt="Tatiana Morillo Díaz Directora de la EdB">
            
            <div id="dataDirec">Egresada del perfeccionamiento de la carrera de Danza del Instituto Superior de Arte del Teatro Colón y del Taller de Danza Contemporánea del Teatro Municipal General San Martín.
              Sus principales maestros fueron Olga Ferri, Enrique Lommi, Rodolfo Fontan.              
              Tomó cursos especiales con Savino Rivas, Bill Martin Viscount y Hector Zaraspe en repetidas ocasiones.
              Paralelamente a su actividad como bailarina y coreógrafa inicia su tarea docente en 1983 dictando clases de Ballet y Danza Contemporánea. Desde 1993 hasta la actualidad dicta clases y dirige su 
              escuela de danza</div>
        </div>
    </div>
    
        <section class="masProfes">
            <div class="container">
                <h2>Staff de Profesores</h2>
    
                <div class="accordion" id="accordionProfes">
                    
                    <div class="accordion-item">
                      <h2 class="accordion-header ">

                        <button class="accordion-button collapsed" type="button" id="miboton" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          LEIA ORGANA DE ALDERAAN                         
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <div class="row">
                            <img class="fotosProfes" src="static/Imágenes/contenido/prof1.jpg" alt="Foto Leia Organa">
                            <div class="col">Egresada del Instituto Superior de Artes del Teatro Colón con las más altas calificaciones de su promoción, habiendo sido sus principales maestros Olga Ferri, Graciela Sultanik y José Luis Lozano. </div>
                            <div class="col">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi eveniet magni deleniti voluptatibus earum omnis expedita tempore molestias nihil, tenetur impedit repudiandae id quis similique consequuntur sunt a consectetur? Voluptatem! 
                              <!--<button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseOne">boton  </button>-->
                              
                            </div>
                         </div>
                        </div>
                      </div>
                    </div>


                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          VALENTINA ISABELA MADRIGAL
                        </button>
                      </h2>
                      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="row">
                            <img class="fotosProfes" src="static/Imágenes/contenido/prof2.jpg" alt="Foto Valentina Isabela Madrigal">
                            <div class="col">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi eveniet magni deleniti voluptatibus earum omnis expedita tempore molestias nihil, tenetur impedit repudiandae id quis similique consequuntur sunt a consectetur? Voluptatem!</div>
                            <div class="col">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi eveniet magni deleniti voluptatibus earum omnis expedita tempore molestias nihil, tenetur impedit repudiandae id quis similique consequuntur sunt a consectetur? Voluptatem!</div>
                          
                        </div>
                       </div>
                      </div>
                    </div>


                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            ELEONORA RUTH SHELLSTROP
                        </button>
                      </h2>
                      <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="row">
                            <img class="fotosProfes" src="static/Imágenes/contenido/prof3.jpg" alt="Foto Eleonora Ruth Shellstrop">
                            <div class="col">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi eveniet magni deleniti voluptatibus earum omnis expedita tempore molestias nihil, tenetur impedit repudiandae id quis similique consequuntur sunt a consectetur? Voluptatem!</div>
                            <div class="col">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi eveniet magni deleniti voluptatibus earum omnis expedita tempore molestias nihil, tenetur impedit repudiandae id quis similique consequuntur sunt a consectetur? Voluptatem!</div>
                          
                        </div>
                      </div>
                    </div>
                </div>


                    <div class="accordion-item">
                        <h2 class="accordion-header">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                            AMILYN HOLDO LÓPEZ
                          </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            <div class="row">
                            <img class="fotosProfes" src="static/Imágenes/contenido/prof4.jpg" alt="Foto Amilyn Holdo Lopez">
                            <div class="col">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi eveniet magni deleniti voluptatibus earum omnis expedita tempore molestias nihil, tenetur impedit repudiandae id quis similique consequuntur sunt a consectetur? Voluptatem!</div>
                            <div class="col">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi eveniet magni deleniti voluptatibus earum omnis expedita tempore molestias nihil, tenetur impedit repudiandae id quis similique consequuntur sunt a consectetur? Voluptatem! </div>
                          
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
            </div>
    </section>
<br>

{%include "defaults/footer.html"%}

{%include "defaults/scripts.html"%}

</body>
</html>