<footer>
    <div class="pie_de_pagina">
      <div class="bloques bloqueLogo">
        <div>
          <img src="static/Imágenes/contenido/LOGO_S.png" class="logo_footer" alt="Logo de la EdB">
        </div>
      </div>
      <div class="bloques">
        <div>
        ESCUELA DE BALLET
        </div>
        <div>
          <ul class="lista  bloque1ubic">
            <li>Pasaje Gelly 3378</li>
            <li>CABA</li>
            <li>ARGENTINA</li>
            <li><a href="/contacto#ubicacion" class="footer_list">Mapa interactivo</a></li>
            <li><a href="/ver_datos" class="footer_list">Ver Datos (adm)</a></li></li>
          </ul>
        </div>
      </div>
      <div class="bloques">
        <div>
        REDES SOCIALES
        </div>
        <div>
          <ul class="lista bloque2redes">
            <li><a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook" style="color: #d9d9d9; font-size: medium;"></i></a></li>
            <li><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-square-instagram" style="color: #d9d9d9; font-size: medium;"></i></a></li>
            <li><a href="https://www.youtube.com/@AmericanBalletTheatre" target="_blank"><i class="fa-brands fa-youtube" style="color: #d9d9d9; font-size: medium;"></i></a></li>
            <li><a href="https://web.whatsapp.com/" target="_blank"><i class="fa-brands fa-square-whatsapp" style="color: #d9d9d9; font-size: medium;"></i></a></li>
            <li><a href="mailto:escueladeballet@gmail.com" target="_blank"><i class="fa-solid fa-envelope" style="color: #d9d9d9; font-size: medium;"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="bloques">
        <div>
        MAPA DEL SITIO
        </div>
        <div>
          <ul class="lista bloque3mapa">
            <li><a href="/" class="footer_list">Inicio</a></li>
            <li><a href="/sobre_nosotros" class="footer_list">Sobre Nosotros</a></li>
            <li><a href="/nuestras_clases" class="footer_list">Nuestras Clases</a></li>
            <li><a href="/inscripcion" class="footer_list">Inscribite</a></li>
            <li><a href="/sumate_al_staff" class="footer_list">Unite al STAFF</a></li>
            <li><a href="/contacto" class="footer_list">Comunicate con EDB</a></li>
          </ul>
        </div>
      </div>
      <div class="bloques copyr">
        COPYRIGHT© 2024
      </div>
    </div>
  </footer>