<header>
    <div class="navbar"> 
      <span>
        <img src="static/Imágenes/contenido/LOGO_S.png" class="logo_navbar" alt="Logo de la EdB">
      </span>
      <div class="barra_sec">
        <a href="/" class="secciones">INICIO</a>
        <a href="/sobre_nosotros" class="secciones">SOBRE NOSOTROS</a>
        <a href="/nuestras_clases" class="secciones">NUESTRAS CLASES</a>
        <a href="/inscripcion" class="secciones">INSCRIBITE</a>
        <a href="/sumate_al_staff" class="secciones">UNITE AL STAFF</a>
        <a href="/contacto" class="secciones">CONTACTO</a>
      </div>
      <div onfocus="this.size=6;" onblur="this.size=0;" onchange="this.size=1; this.blur()" class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <i class="bi bi-list"> </i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/">Inicio</a>
          <a class="dropdown-item" href="/sobre_nosotros">Sobre Nosotros</a>
          <a class="dropdown-item" href="/nuestras_clases">Nuestras Clases</a>
          <a class="dropdown-item" href="/inscripcion">Inscribite</a>
          <a class="dropdown-item" href="/sumate_al_staff">Unite al Staff</a>
          <a class="dropdown-item" href="/contacto">Contacto</a>
        </div>
      </div>
    </div>
  </header>